html {
   font-size: 20px;
}
body {
    /* 文字の大きさ */
    
    text-align: center;
 }
 h1 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 2em;
   letter-spacing: 1.2em;
   border-bottom: solid 3px rgb(115, 115, 114);
   text-shadow: 1px 1px 2px gray;
}
#parent p {
   font-weight: bold;
}
.google-fonts1 { 
   color:skyblue;
}
.google-fonts2{  
   color:rgb(255, 192, 203);
}
 body {
    font-family: "Arial", "Meiryo", sans-serif;
  }
.pink {
   color:rgb(255, 192, 203);
}
.skyblue {
   color:skyblue;
}
