body {
    /* 文字の大きさ */
    font-size: 20px;
    text-align: center;
 }
 h1 {
   font-size: 200%;
   letter-spacing: 1.2em;
   border-bottom: solid 3px rgb(115, 115, 114);
}
h1 {
   text-shadow: 1px 1px 2px gray;
}
#parent p {
   font-weight: bold;
}
.google-fonts1 {
   /* ここにGoogle Fontsを指定します */
   font-family: 'Josefin Sans', sans-serif;
   color:skyblue;
}
.google-fonts2{
   font-family: 'Josefin Sans', sans-serif;
   color:rgb(255, 192, 203);
}
 body {
    font-family: "Arial", "Meiryo", sans-serif;
  }
.pink {
   color:rgb(255, 192, 203);
}
.skyblue {
   color:skyblue;
}
